language: c++
before_install:
  - "/sbin/start-stop-daemon --start --quiet --pidfile /tmp/custom_xvfb_1.pid --make-pidfile --background --exec /usr/bin/Xvfb -- :1 -ac -screen 0 1280x1024x16"
  - sleep 3
  - export DISPLAY=:1.0
  - wget http://downloads.arduino.cc/arduino-1.6.6-linux64.tar.xz
  - tar xf arduino-1.6.6-linux64.tar.xz
  - sudo mv arduino-1.6.6 /usr/local/share/arduino
  - sudo ln -s /usr/local/share/arduino/arduino /usr/local/bin/arduino
  
install:
  - ln -s $PWD /usr/local/share/arduino/libraries/Helper2.h
  
script:
  - arduino --verify --board arduino:avr:pro328 $PWD/examples/accel/accel.ino
  - arduino --verify --board arduino:avr:pro328 $PWD/examples/circle/circle.ino
  - arduino --verify --board arduino:avr:pro328 $PWD/examples/fade/fade.ino
  - arduino --verify --board arduino:avr:pro328 $PWD/examples/feeling/feeling.ino
  - arduino --verify --board arduino:avr:pro328 $PWD/examples/led/led.ino
  - arduino --verify --board arduino:avr:pro328 $PWD/examples/random/random.ino
  - arduino --verify --board arduino:avr:pro328 $PWD/examples/tap/tap.ino
  - arduino --verify --board arduino:avr:pro328 $PWD/examples/template/template.ino
  - arduino --verify --board arduino:avr:pro328 $PWD/examples/threshold/threshold.ino

